body {
    padding: 16px;
    font-family: "Tahoma", "Geneva", sans-serif;
    font-size: 15.5px;
    word-wrap: break-word;
    color: rgb(31, 30, 30);
    background-color: rgb(90,90,90);
    line-height: 1.2;
}

h2 {
    font-size: 20px;
}

.global-container {
    text-align: center;
}

a {
    color: rgb(39, 39, 39);
    text-decoration: none;
}

a:hover {
    color: rgb(218, 149, 21);
    text-decoration: underline;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 2px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.main-container {
    border-radius: 16px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: left;
    display: inline-block;
    width: 800px;
    background-color: rgb(240, 240, 240);
}

.header {
    text-align: center;
    font-size: 40px;
    padding-top: 16px;
    padding-bottom: 8px;
    font-family: 
}

.content-container {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.list-container {
    font-size: 15px;
}

.footer {
    text-align: center;
    font-size: 13px;
    padding: 16px;
}